name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get version from tag
        id: version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Update manifest version
        uses: restackio/update-json-file-action@v2.1
        with:
          file: custom_components/system_nexa_2/manifest.json
          fields: |
            {
              "version": "${{ steps.version.outputs.version }}"
            }

      - name: Create ZIP file
        run: |
          cd custom_components
          zip -r ../system_nexa_2.zip system_nexa_2

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: system_nexa_2.zip
